@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
   --color-primary: #FD853A; 
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width:  thin;
  scrollbar-color: #787777  #171717;
}

body {
  background-color: white;
  color:  #171717;
}